# Eclipse Files
.settings/
.project
.buildpath
error_log

logs/*
uploads/
uploads
uploads/*

node_modules
bower_components
bower_components/

temp/
.tmp/
.vagrant/
.sass-cache
npm-debug.log
dist

*.db
*.sublime-workspace
.idea/.name
.idea/

server/config/local.env.js
local.env.js